<div class="container">

  <div class="hero">
    <h1><%= @movie["Title"]%> (<%= @movie["Year"] %>)</h1>
    <img src="<%= @movie["Poster"] %>">
  </div>

  <div>
    <p><%= @movie["Plot"] %></p>
    <p><%= @tomato %></p><!-- Make this go somewhere cool! -->
    <ul>
      <li><strong>Actors:</strong> <%= @movie["Actors"] %></li>
      <li><strong>Director:</strong> <%= @movie["Director"] %></li>
      <li><strong>Writer:</strong> <%= @movie["Writer"] %></li>
      <li><strong>Release date:</strong> <%= @movie["Released"] %></li>
      <li><strong>Runtime:</strong> <%= @movie["Runtime"] %></li>
      <li><strong>Genre:</strong> <%= @movie["Genre"] %></li>
      <li><strong>Rating:</strong> <%= @movie["Rated"] %></li>
    </ul>
  </div>

</div>